body {
    background-color: orange;
}
.head{
    color: blue;
}
#bglime{
    background-color: lime;
    font-size: 2.3rem;
}
p {
 color:white;
}
#para{
    color: green;
}
p > span{
    color: black;
}
ul > li {
    color: white;
}
ul :nth-child(1) > a{
    background-color: lightgreen;
}
ul :nth-child(2) > a{
    background-color: blueviolet;
}

ol :nth-child(2){
    color: blue;
}
ol :nth-child(3){
    color: red;
}